{% if include.pageurl != nil and include.pageurl != '' %}
    {% assign pageurl = include.pageurl %}
{% else %}
    {% assign pageurl = page.url %}
{% endif %}

<style>
#share-buttons { margin-top: 2em; }
#share-buttons > a {   
    display: inline-block;
    vertical-align: baseline;
}
#share-buttons > a > svg { 
    height: 1.2em; 
    width: 1.2em; 
    margin-left: .25em; 
    margin-right: .25em; 
    fill: gray; 
    position: relative; 
    top: .17em; 
}
#share-buttons > span { 
    margin-right: .4em 
}
#share-buttons > a:hover {cursor: pointer;}
#share-buttons > a.facebook:hover > svg {fill: #3B5998;}
#share-buttons > a.twitter:hover > svg {fill: #55ACEE;}
#share-buttons > a.linkedin:hover > svg {fill: #0077b5;}
#share-buttons > a.pinterest:hover > svg {fill: #CB2027;}
#share-buttons > a.mail:hover > svg {fill: #0077b5; }
</style>

<div id="share-buttons">
    <span style="color: gray;">Share on:</span>
    <a class="facebook" title="Share this on Facebook" href="http://www.facebook.com/share.php?u={{ site.url }}{{ pageurl }}" target="_blank"> 
        <svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#facebook"></use></svg>
    </a>
    <a class="twitter" title="Share this on Twitter" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ pageurl }}" target="_blank">
        <svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#twitter"></use></svg>
    </a>
    <a class="linkedin" title="Share this on Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl }}" target="_blank">
        <svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#linkedin"></use></svg>
    </a>
    <a class="mail" title="Share this through Email" href="mailto:?&body={{ site.url }}{{ pageurl }}">
        <svg><use xlink:href="{{ "/assets/fontawesome/icons.svg" | relative_url }}#envelope"></use></svg>
    </a>
</div>
